.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  padding-right: 100px;
  background-image: url('https://res.cloudinary.com/dzo0il2vd/image/upload/v1703864702/old-books-436498_1280_kgtlj4.jpg');
  background-size: cover;
}
.head {
  color: #ffffff;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  width: 250px;
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #f8fafc;
}
.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #4f46e5;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-button {
  background-color: #0051ff;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  width: 250px;
}
